*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-color: gray;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
h1{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
}